:root {
    --color-primary: #3282b8;
    --color-primary-light: #009cf9;
    --color-primary-dark: #0f4c75;

    --color-dark: #16171a;
    --color-white: #fcf8e8;
    --color-lightbg: #f9f9f9;

    --font-primary: 'Rubik', sans-serif;

    --box-shadow-small: 0px 5px 12px 0px rgba(69, 67, 96, .2);
}

$color-primary: #0f4c75;
$color-primary-light: #009cf9;
$color-primary-dark: #0f4c75;

$color-dark: #16171a;