// portfolio
#portfolio {
    grid-column: center-start / center-end;
}

.portfolio {
    .morebtn-wrapper {
        display: flex;
        justify-content: center;
    }

    .loadmore-btn {
        margin-top: 7rem;
        background-color: #0e95f0;
        color: white;
        border: 0;
        cursor: pointer;
        font-family: inherit;
    }
}